<!DOCTYPE html>
<html lang="en">
<head>
    <!-- header -->
    <include href="views/header.html">
        <!-- title -->
        <title>Gator Contracting</title>
        </head>
<body>
<!-- navbar -->
<include href="views/navbar.html">

    <!-- body -->
    <div class="container-fluid">
        <h1>Register to be a client.</h1>
        <!-- form -->
        <form method="POST" action="#">

            <!-- fieldset -->
            <fieldset class="form-group">

                <!-- username -->
                <label for="username" class="control-label"><strong>Username</strong>
                    <input type="text" name="username" id="username" class="form-control"
                           value="{{ @client['username'] }}">
                    <check if="{{ isset(@errors['username']) }}">
                        <label class="text-danger">{{ @errors['username'] }}</label>
                    </check>
                </label>
                <br>

                <!-- company -->
                <label for="company" class="control-label"><strong>Company</strong>
                    <input type="text" name="company" id="company" class="form-control"
                           value="{{ @client['company'] }}">
                    <check if="{{ isset(@errors['company']) }}">
                        <label class="text-danger">{{ @errors['company'] }}</label>
                    </check>
                </label>
                <br>

                <!-- first name -->
                <label for="first" class="control-label"><strong>First Name</strong>
                    <input type="text" name="first" id="first" class="form-control" value="{{ @client['first'] }}">
                    <check if="{{ isset(@errors['first']) }}">
                        <label class="text-danger">{{ @errors['first'] }}</label>
                    </check>
                </label>
                <br>

                <!-- last name -->
                <label for="last" class="control-label"><strong>Last Name</strong>
                    <input type="text" name="last" id="last" class="form-control" value="{{ @client['last'] }}">
                    <check if="{{ isset(@errors['last']) }}">
                        <label class="text-danger">{{ @errors['last'] }}</label>
                    </check>
                </label>
                <br>

                <!-- phone number -->
                <label for="phone" class="control-label"><strong>Phone Number</strong>
                    <input type="text" name="phone" id="phone" class="form-control" value="{{ @client['phone'] }}">
                    <check if="{{ isset(@errors['phone']) }}">
                        <label class="text-danger">{{ @errors['phone'] }}</label>
                    </check>
                </label>
                <br>

                <!-- email -->
                <label for="email" class="control-label"><strong>Email</strong>
                    <input type="text" name="email" id="email" class="form-control" value="{{ @client['email'] }}">
                    <check if="{{ isset(@errors['email']) }}">
                        <label class="text-danger">{{ @errors['email'] }}</label>
                    </check>
                </label>
                <br>

                <!-- address -->
                <label for="address" class="control-label"><strong>Address</strong>
                    <input type="text" name="address" id="address" class="form-control"
                           value="{{ @client['address'] }}">
                    <check if="{{ isset(@errors['address']) }}">
                        <label class="text-danger">{{ @errors['address'] }}</label>
                    </check>
                </label>
                <br>

                <!-- suite -->
                <label for="suite" class="control-label"><strong>Suite</strong>
                    <input type="text" name="suite" id="suite" class="form-control" value="{{ @client['suite'] }}">
                </label>
                <br>

                <!-- city -->
                <label for="city" class="control-label"><strong>City</strong>
                    <input type="text" name="city" id="city" class="form-control" value="{{ @client['city'] }}">
                    <check if="{{ isset(@errors['city']) }}">
                        <label class="text-danger">{{ @errors['city'] }}</label>
                    </check>
                </label>
                <br>

                <!-- state -->
                <label for="state" class="control-label"><strong>State</strong>
                    <select id="state" name="state" class="form-control">
                        <option value="none">-- Select a State --</option>
                        <repeat group="{{ @states }}" key="{{ @stateKey }}" value="{{ @stateValue }}">
                            <option value="{{ @stateKey }}"
                            <check if="{{ @stateKey == @client['state'] }}">
                                selected
                            </check>
                            >{{ @stateValue }}</option>
                        </repeat>
                    </select>
                </label>
                <br>

                <!-- zip -->
                <label for="zip" class="control-label"><strong>Zip Code</strong>
                    <input type="text" name="zip" id="zip" class="form-control" value="{{ @client['zip'] }}">
                    <check if="{{ @errors['zip'] }}">
                        <label class="text-danger">{{ @errors['zip'] }}</label>
                    </check>
                </label>
                <br>

            </fieldset>
            <!-- /fieldset -->

            <!-- button -->
            <button class="btn btn-primary submit" id="submit">Submit</button>

        </form>
        <!-- /form -->
    </div>
</body>
<!-- footer -->
<include href="views/footer.html">
</html>