<!DOCTYPE html>
<html lang="en">
<head>
    <!-- header -->
    <include href="views/header.html">
    <!-- title -->
    <title>Gator Contracting</title>
</head>
<body>
    <!-- Nav bar -->
    <include href="views/navbar.html">

    <!-- body -->
        <div class="container-fluid">
            <table>
                <tr>
                    <th>Company</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>Suite</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Zip Code</th>
                </tr>
                <repeat group="{{ @clients }}" value="{{ @client }}">
                    <tr>
                        <td>{{ @client['company'] }}</td>
                        <td>{{ @client['first'] }}</td>
                        <td>{{ @client['last'] }}</td>
                        <td>{{ @client['phone'] }}</td>
                        <td>{{ @client['email'] }}</td>
                        <td>{{ @client['address'] }}</td>
                        <td>{{ @client['apt'] }}</td>
                        <td>{{ @client['city'] }}</td>
                        <td>{{ @client['state'] }}</td>
                        <td>{{ @client['zip'] }}</td>
                    </tr>
                </repeat>
            </table>
        </div>
</body>
<!-- footer -->
<include href="views/footer.html">
</html>