<!DOCTYPE html>
<html lang="en">
<head>
    <!-- header -->
    <include href="views/header.html">
        <!-- title -->
        <title>Gator Contracting</title>
        </head>
<body>
<!-- Nav bar -->
<include href="views/navbar.html">
<!--
@param $_username
@param $_first
@param $_last
@param $_title
@param $_email
@param $_phone
@param $_address
@param $_apt
@param $_city
@param $_state
@param $_zip
-->
    <!-- body -->
    <div class="container-fluid">
    <input type="text">Enter a Username<br>
    <input type="text">Enter a first name<br>
    <input type="text">Enter a last name<br>
    <input type="text">Enter a title<br>
    <input type="text">Enter a email<br>
    <input type="text">Enter a phone<br>
    <input type="text">Enter a address<br>
    <input type="text">Enter a apt<br>
    <input type="text">Enter a city<br>

    </div>
</body>
<!-- footer -->
<include href="views/footer.html">
</html>