<!DOCTYPE html>
<html lang="en">
<head>
    <!-- header -->
    <include href="views/header.html">
        <!-- title -->
        <title>Gator Contracting</title>
        </head>
<body>
<!-- navbar -->
<include href="views/navbar.html">

    <!-- body -->
    <div class="container-fluid">
        <h1>Register to be a contractor</h1>
        <!-- form -->
        <form method="post" action="#">

            <!-- fieldset -->
            <fieldset class="form-group">

                <!-- username -->
                <label for="username" class="control-label"><strong>Username</strong>
                    <input type="text" name="username" id="username" class="form-control"
                           value="{{ @contractor['username'] }}">
                    <check if="{{ isset(@errors['username']) }}">
                        <label class="text-danger">{{ @errors['username'] }}</label>
                    </check>
                </label>
                <br>

                <!-- first name -->
                <label for="first" class="control-label"><strong>First Name</strong>
                    <input type="text" id="first" name="first" class="form-control" value="{{ @contractor['first'] }}">
                    <check if="{{ isset(@errors['first']) }}">
                        <label class="text-danger">{{ @errors['first'] }}</label>
                    </check>
                </label>
                <br>

                <!-- last name -->
                <label for="last" class="control-label"><strong>Last Name</strong>
                    <input type="text" id="last" name="last" class="form-control" value="{{ @contractor['last'] }}">
                    <check if="{{ isset(@errors['last']) }}">
                        <label class="text-danger">{{ @errors['last'] }}</label>
                    </check>
                </label>
                <br>

                <!-- title -->
                <label for="title" class="control-label"><strong>Job Title</strong>
                    <input type="text" id="title" name="title" class="form-control" value="{{ @contractor['title'] }}">
                    <check if="{{ isset(@errors['title']) }}">
                        <label class="text-danger">{{ @errors['title'] }}</label>
                    </check>
                </label>
                <br>

                <!-- email -->
                <label for="email" class="control-label"><strong>Email Address</strong>
                    <input type="text" id="email" name="email" class="form-control" value="{{ @contractor['email'] }}">
                    <check if="{{ isset(@errors['email']) }}">
                        <label class="text-danger">{{ @errors['email'] }}</label>
                    </check>
                </label>
                <br>

                <!-- phone -->
                <label for="phone" class="control-label"><strong>Phone Number</strong>
                    <input type="text" id="phone" name="phone" class="form-control" value="{{ @contractor['phone'] }}">
                    <check if="{{ isset(@errors['phone']) }}">
                        <label class="text-danger">{{ @errors['phone'] }}</label>
                    </check>
                </label>
                <br>

                <!-- address -->
                <label for="address" class="control-label"><strong>Address</strong>
                    <input type="text" id="address" name="address" class="form-control"
                           value="{{ @contractor['address'] }}">
                    <check if="{{ isset(@errors['address']) }}">
                        <label class="text-danger">{{ @errors['address'] }}</label>
                    </check>
                </label>
                <br>

                <!-- apt -->
                <label for="suite" class="control-label"><strong>Apt.</strong>
                    <input type="text" id="suite" name="apt" class="form-control" value="{{ @contractor['apt'] }}">
                </label>
                <br>

                <!-- city -->
                <label for="city" class="control-label"><strong>City</strong>
                    <input type="text" id="city" name="city" class="form-control" value="{{ @contractor['city'] }}">
                    <check if="{{ isset(@errors['city']) }}">
                        <label class="text-danger">{{ @errors['city'] }}</label>
                    </check>
                </label>
                <br>

                <!-- state -->
                <label for="state" class="control-label"><strong>State</strong>
                    <select id="state" name="state" class="form-control">
                        <option value="none">-- Select a State --</option>
                        <repeat group="{{ @states }}" key="{{ @stateKey }}" value="{{ @stateOption }}">
                            <option value="{{ @stateKey }}"
                            <check if="{{ @stateKey == @contractor['state'] }}">
                                selected="selected"
                            </check>
                            >{{ @stateOption }}
                            </option>
                        </repeat>
                    </select>
                </label>
                <br>

                <!-- zip -->
                <label for="zip" class="control-label"><strong>Zip Code</strong>
                    <input type="text" id="zip" name="zip" class="form-control" value="{{ @contractor['zip'] }}">
                    <check if="{{ isset(@errors['zip']) }}">
                        <label class="text-danger">{{ @errors['zip'] }}</label>
                    </check>
                </label>
                <br>
                <!-- submit button -->
                <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>
    </div>
</body>
<!-- footer -->
<include href="views/footer.html">
</html>