<!DOCTYPE html>
<html lang="en">
<head>
    <!-- header -->
    <include href="views/header.html">
        <!-- title -->
        <title>Gator Contracting</title>
        </head>
<body>
<!-- Nav bar -->
<include href="views/navbar.html">

    <!-- body -->
    <div class="container-fluid">
        <table>
            <tr>
                <th>Job Title</th>
                <!--                <th>Client</th>-->
                <th>Description</th>
                <th>Salary</th>
                <th>Duration</th>
                <th>Start Date</th>
            </tr>
            <repeat group="{{ @clients }}" value="{{ @client }}">
                <tr>
                    <td>{{ @job['title'] }}</td>
                    <!--                    <td>{{ @job['client'] }}</td>-->
                    <td>{{ @job['description'] }}</td>
                    <td>{{ @job['salary'] }}</td>
                    <td>{{ @job['duration'] }}</td>
                    <td>{{ @job['start'] }}</td>
                </tr>
            </repeat>
        </table>

        <br>
        <button type="button" class="btn btn-primary">Post a Job</button>
        <br>
    </div>
</body>
<!-- footer -->
<include href="views/footer.html">
</html>