<!DOCTYPE html>
<html lang="en">
<head>
    <!-- header -->
    <include href="views/header.html">
        <!-- title -->
        <title>Gator Contracting</title>
        </head>
<body>
<!-- Nav bar -->
<include href="views/navbar.html">
    <form method="POST" action="#">
        <label for="username" class="control-label"><strong>username</strong>
            <input type="text" name="username" id="username" class="form-control" value="{{ @login['username'] }}">
            <check if="{{ isset(@errors['username']) }}">
                <label class="text-danger">{{ @errors['username'] }}</label>
            </check>
        </label>
        <br>
        <label for="password" class="control-label"><strong>Password</strong>
            <input type="password" name="password" id="password" class="form-control" value="{{ @login['password'] }}">
        </label>
        <br>
        <button class="btn btn-primary submit" id="submit">Submit</button>
    </form>
</body>
<!-- footer -->
<include href="views/footer.html">
</html>