<nav class="navbar navbar-expand navbar-dark bg-dark sticky-top">
    <div class="">
        <ul class="navbar-nav">
            <li class="text-monospace navbar-brand"><a href="main"
                                                       class="nav-link active">Gator Contracting</a></li>
            <li class="text-monospace nav-item bg-dark my-2"><a href="client" class="nav-link">Client</a></li>
            <li class="text-monospace nav-item bg-dark my-2"><a href="contractor" class="nav-link">Contractor</a></li>
            <li class="text-monospace nav-item bg-dark my-2"><a href="jobs" class="nav-link">Jobs</a></li>
            <li class="text-monospace nav-item bg-dark my-2"><a href="login" class="nav-link">Login</a></li>
        </ul>
    </div>
</nav>