<!-- Nav bar -->
<nav class="navbar navbar-expand navbar-dark bg-dark sticky-top">
    <div class="">
        <ul class="navbar-nav">
            <li class="text-monospace navbar-brand"><a href="https://klow.greenriverdev.com/328/gator-contracting/"
                                                       class="nav-link active">Gator Contracting</a></li>
            <li class="text-monospace nav-item bg-dark my-2"><a href="#" class="nav-link">Client</a></li>
            <li class="text-monospace nav-item bg-dark my-2"><a href="#" class="nav-link">Contractor</a></li>
            <li class="text-monospace nav-item bg-dark my-2"><a href="#" class="nav-link">Jobs</a></li>
            <li class="text-monospace nav-item bg-dark my-2"><a href="#" class="nav-link">Login</a></li>
        </ul>
    </div>
</nav>